@model GestionClasseMvc.Models.EleveViewModel
@using Ifinfo.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Eleves Page";
}

<div class="text-center">
    <h1 class="display-4"> Classe @Model.Classe.ClasseNom</h1>
</div>

<hr>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Classe @Model.Classe.ClasseNom</li>
  </ol>
</nav>

<div class="row text-center mx-auto">
@foreach (Eleve eleve in Model.Eleves)
{
    <div class="col-sm-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@eleve.ElevePrenom <strong>@eleve.EleveNom <i class="fas fa-user"></i></strong></h5>
                <hr>
                <a  asp-controller="Eleve" asp-action="EleveDetail" asp-route-id="@eleve.EleveID" class="btn btn-secondary">Voir l'élève</a>
            </div>
        </div>
    </div>
}
</div>

@*AJOUT EVALUATION*@
<div class="text-center mb-3">
    <h1 class="display-4"> Evaluation Classe @Model.Classe.ClasseNom</h1>
    <a  asp-controller="Evaluation" asp-action="AjoutEvaluation" asp-route-id="@Model.Classe.ClasseID" class="btn btn-success">Ajouter une évaluation <i class="fas fa-award"></i></a>
</div>

@*AFFICHAGE EVALUATION*@
<div class="row">
@foreach (Evaluation evaluation in Model.Evaluations)
{ 
  <div class="col-sm-4 mb-2">
    <div class="card shadow p-3 mb-5 bg-body rounded border-secondary">
      <div class="card-body">
        <h5 class="card-title">@evaluation.EvaluationLibelle</h5>
        <p class="card-text">
            <strong>Matière :</strong> @evaluation.EvaluationMatiere
            <br><strong> Date :</strong> @evaluation.EvaluationDate.ToString("dd/MM/yyyy")
            <br><strong>Classe :</strong> @evaluation.Classe.ClasseNom
            <br><strong>Professeur :</strong> @evaluation.Professeur.ProfesseurPrenom <span class="text-uppercase">@evaluation.Professeur.ProfesseurNom</span>
            <br><a  asp-controller="Evaluation" asp-action="DetailEvaluation" asp-route-id="@evaluation.EvaluationID" class="btn btn-secondary">Détails de l'évaluation<i class="fas fa-award"></i></a>
        </p>
      </div>
    </div>
  </div>
}
</div>