@using Ifinfo.Shared
@model GestionClasseMvc.Models.EleveDetailViewModel
@{
    ViewData["Title"] = "Eleves Page";
}
<div class="text-center">
    <h1 class="display-4">@Model.Eleve.EleveNom @Model.Eleve.ElevePrenom</h1>
</div>
<hr />


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="ListeEleve" asp-route-id="@Model.Eleve.ClasseID">Classe @Model.Eleve.ClasseID</a></li>
    <li class="breadcrumb-item active" aria-current="page">@Model.Eleve.EleveNom @Model.Eleve.ElevePrenom</li>
  </ol>
</nav>



<form asp-controller="Home" asp-action="ModifyEleve" method="POST" style="width: 300px;">
    <input type="hidden" asp-for="Eleve.EleveID" value="@Model.Eleve.EleveID"/>
    <fieldset id="field" disabled="true">
        <legend>Détail de l'élève</legend>
        <div class="mb-3">
            <label for="nom" class="form-label">Nom :</label>
            <input required type="text" id="nom" class="form-control" asp-for="Eleve.EleveNom" value="@Model.Eleve.EleveNom">
        </div>
        <div class="mb-3">
            <label for="prenom" class="form-label">Prenom :</label>
            <input required type="text" id="prenom" class="form-control" asp-for="Eleve.ElevePrenom" value="@Model.Eleve.ElevePrenom">
        </div>
        <div class="mb-3">
            <label for="sexe" class="form-label">Sexe :</label>
            <select class="form-control" asp-for="Eleve.EleveSexe" id="sexe" required>
                <option>@Model.Eleve.EleveSexe</option>
                <option value="H">Homme</option>
                <option value="F">Femme</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="classe" class="form-label">Classe :</label>
            <select class="form-control" asp-for="Eleve.ClasseID"  id="classe">
                @foreach (Classe item in Model.Classes)
                {
                    <option value="@item.ClasseID">Classe @item.ClasseNom</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="adresse" class="form-label">Adresse :</label>
            <input required type="text" id="adresse" class="form-control" asp-for="Eleve.EleveAdresse" value="@Model.Eleve.EleveAdresse">
        </div>
        <div class="mb-3">
            <label for="code_postale" class="form-label">Code postale :</label>
            <input required type="text" id="code_postale" class="form-control" asp-for="Eleve.EleveCodePostal" value="@Model.Eleve.EleveCodePostal">
        </div>
        <div class="mb-3">
            <label for="ville" class="form-label">Ville :</label>
            <input required type="text" id="ville" class="form-control" asp-for="Eleve.EleveVille" value="@Model.Eleve.EleveVille">
        </div>
        <div class="mb-3">
            <label for="telephone" class="form-label">Telephone :</label>
            <input required type="text" id="telephone" class="form-control" asp-for="Eleve.EleveTelephone" value="@Model.Eleve.EleveTelephone">
        </div>
        <input type="submit" value="enregistrer" id="btn_enregistrer" style="display: none;">
    </fieldset>
    <button type="button" id="btn_modify" onclick="OnModify()" class="btn btn-primary">modifier</button>
</form>

@* @using (Html.BeginForm("test", "Home", FormMethod.Post))
{
    <div>
        <label class="form-label">Nom :</label>
        @Html.TextBoxFor(m => m.Eleve.EleveNom);
    </div>
    <input type="submit" value="Submit"/>
} *@